 <dl class="clearfix" style=" overflow:hidden;">
   <div class="box1 cate" id="cate">
    
                    <h1 onclick="tab(0)" style="border-top:none">
        
                
        <span class="f_l"><img src="__FRONT__/images/btn_fold.gif" style="padding-top:10px;padding-right:6px;cursor:pointer;"></span>
        <a href="/mbmeilishuo/category.php?id=22" class="  f_l">T恤/POLO</a>
        </h1>
        <ul style="display:none">
                 <a class="over_2" href="/mbmeilishuo/category.php?id=23">POLO衫</a>  
         
<div class="clearfix">
</div>   
                 <a class="over_2" href="/mbmeilishuo/category.php?id=26">短袖T恤</a>  
         
<div class="clearfix">
</div>   
                 <a class="over_2" href="/mbmeilishuo/category.php?id=27">长袖T恤</a>  
         
<div class="clearfix">
</div>   
                </ul>
        <div style="clear:both"></div>
                   
     
</div>
<div style="clear:both"></div>  
</dl>