<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>品牌分类页</title>
    <link rel="stylesheet" href="__FRONT__/style/tianmao-pindao.css">
</head>

<body>


    <header>
        <div class="headerbox">
            <div class="headertop">
                <div class="headertop-box">
                <div class="headertop-left">
                    <ul>
                        <li>喵，欢迎来天猫</li>
                        <li><a href="#">请登录</a></li>
                        <li><a href="#">免费注册</a></li>
                    </ul>
                </div>
                <div class="header-right">
                    <ul>
                        <li>
                            <a href="#">我的淘宝</a>
                            <ul class="header-right-xiala">
                                <li><a href="#">已买到的宝贝</a></li>
                                <li><a href="#">已买到的宝贝</a></li>
                            </ul>
                        </li>
                        <li><a href="#">购物车0件</a></li>
                        <li>
                            <a href="#">收藏夹</a>
                            <ul class="header-right-xiala">
                                <li><a href="#">收藏的宝贝</a></li>
                                <li><a href="#">收藏的店铺</a></li>
                            </ul>
                        </li>
                        <li>|</li>
                        <li><a href="#">手机版</a></li>
                        <li><a href="#">淘宝网</a></li>
                        <li><a href="#">商家支持</a></li>
                        <li><a href="#">网站导航</a></li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="headerfooter">
                <div class="logo"><img src="__FRONT__/images/index-logo.jpg"></div>
                <div class="sousuo">
                    <div class="sousuo-top">
                        <form action="#" method="post">
                        <div class="ipt"><input type="text" placeholder="搜索 天猫 商品/品牌/店铺"></div>
                        <div class="ipt iptduiqi"><input type="submit" value="搜索"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

     
     <div style="clear:both;"></div>
    <div class="banner">
        <div class="bannertop">
            <ul>
                <li><a href="#">内衣首页</a></li>
                <li><a href="#">新品</a></li>
            </ul>
        </div>
        <div class="bannerbox">
        <div class="bannerbox-left">
            <ul>
                <li>春夏流行
                    <ul>
                        <li><a href="#">光面文胸</a></li>
                        <li><a href="#">运动文胸</a></li>                        
                        <li><a href="#">蕾丝文胸</a></li>
                        <li><a href="#">超薄文胸</a></li>
                        <li><a href="#">美背文胸</a></li>
                        <li><a href="#">大杯文胸</a></li>
                    </ul>
                </li>
                <li>春夏流行
                    <ul>
                        <li><a href="#">光面文胸</a></li>
                        <li><a href="#">运动文胸</a></li>                        
                        <li><a href="#">蕾丝文胸</a></li>
                        <li><a href="#">超薄文胸</a></li>
                        <li><a href="#">美背文胸</a></li>
                        <li><a href="#">大杯文胸</a></li>
                    </ul>
                </li>
                <li>春夏流行
                    <ul>
                        <li><a href="#">光面文胸</a></li>
                        <li><a href="#">运动文胸</a></li>                        
                        <li><a href="#">蕾丝文胸</a></li>
                        <li><a href="#">超薄文胸</a></li>
                        <li><a href="#">美背文胸</a></li>
                        <li><a href="#">大杯文胸</a></li>
                    </ul>
                </li>
                <li>春夏流行
                    <ul>
                        <li><a href="#">光面文胸</a></li>
                        <li><a href="#">运动文胸</a></li>                        
                        <li><a href="#">蕾丝文胸</a></li>
                        <li><a href="#">超薄文胸</a></li>
                        <li><a href="#">美背文胸</a></li>
                        <li><a href="#">大杯文胸</a></li>
                    </ul>
                </li>
                <li>春夏流行
                    <ul>
                        <li><a href="#">光面文胸</a></li>
                        <li><a href="#">运动文胸</a></li>                        
                        <li><a href="#">蕾丝文胸</a></li>
                        <li><a href="#">超薄文胸</a></li>
                        <li><a href="#">美背文胸</a></li>
                        <li><a href="#">大杯文胸</a></li>
                    </ul>
                </li>
                <li>春夏流行
                    <ul>
                        <li><a href="#">光面文胸</a></li>
                        <li><a href="#">运动文胸</a></li>                        
                        <li><a href="#">蕾丝文胸</a></li>
                        <li><a href="#">超薄文胸</a></li>
                        <li><a href="#">美背文胸</a></li>
                        <li><a href="#">大杯文胸</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="bannerbox-right">
            <div  class="bannerbox-right-top"><a href="#"><img src="__FRONT__/images/pindao-b1.jpg"></a></div>
            <div  class="bannerbox-right-foo">
                <div class="bannerbox-right-foo1"><a href="#"><img src="__FRONT__/images/pindao-b2.jpg"></a></div>
                <div class="bannerbox-right-foo2">
                    <div class="bannerbox-right-foo2-t">
                        <div class="bannerbox-right-foo2-tatv"><a href="#">国际大牌</a></div>
                        <div><a href="#">原创品牌</a></div>
                        <div><a href="#">知名品牌</a></div>
                    </div>
                    <ul class="bannerbox-right-foo2-l">
                        <li><a href="#"><img src="__FRONT__/images/pindao-b3.jpg"></a></li>
                        <li><a href="#"><img src="__FRONT__/images/pindao-b4.jpg"></a></li>
                        <li><a href="#"><img src="__FRONT__/images/pindao-b5.jpg"></a></li>
                        <li><a href="#"><img src="__FRONT__/images/pindao-b6.jpg"></a></li>
                        <li><a href="#"><img src="__FRONT__/images/pindao-b7.jpg"></a></li>
                        <li><a href="#"><img src="__FRONT__/images/pindao-b8.jpg"></a></li>
                        <li><a href="#"><img src="__FRONT__/images/pindao-b9.jpg"></a></li>
                        <li><a href="#"><img src="__FRONT__/images/pindao-b10.jpg"></a></li>
                        <li><a href="#"><img src="__FRONT__/images/pindao-b7.jpg"></a></li>
                        <li><a href="#"><img src="__FRONT__/images/pindao-b3.jpg"></a></li>
                        <li><a href="#"><img src="__FRONT__/images/pindao-b4.jpg"></a></li>
                        <li><a href="#"><img src="__FRONT__/images/pindao-b5.jpg"></a></li>
                    </ul>
                </div>
                <div class="bannerbox-right-foo3">
                    <div class="bannerbox-right-foo3-t">
                        <div><a href="#">今日疯抢</a></div>
                        <div><a href="#">明日预告</a></div>
                    </div>
                    <div><a href="#"><img src="__FRONT__/images/pindao-b11.jpg"></a></div>
                    <div class="bannerbox-right-foo3-t-t">
                        <div class="bannerbox-right-foo3-t-t1">梦娜</div>
                        <div class="bannerbox-right-foo3-t-t2">￥52 <del>￥199</del> <span>限定999件</span></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div style="clear:both;"></div>
    <div class="sctk">
        <div class="sctk-t">
            <div class="sctk-t-left">商场同款</div>
            <div class="sctk-t-right">
                <ul>
                    <li><a href="#">文胸</a></li>
                    <li><a href="#">睡衣</a></li>
                    <li><a href="#">内裤</a></li>
                    <li><a href="#">更多>></a></li>
                </ul>
            </div>
        </div>
        <div class="sctk-b">
            <ul>
                <li>
                    <a href="#">
                        <div class="sctk-b-img"><img src="__FRONT__/images/pindao-sc1.jpg"></div>
                        <div class="sctk-b-logo"><img src="__FRONT__/images/pindao-sc11.png"></div>
                        <div class="sctk-b-msg">新品夏娃之秀调整型聚拢文胸</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sctk-b-img"><img src="__FRONT__/images/pindao-sc2.jpg"></div>
                        <div class="sctk-b-logo"><img src="__FRONT__/images/pindao-sc22.jpg"></div>
                        <div class="sctk-b-msg">新品夏娃之秀调整型聚拢文胸</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sctk-b-img"><img src="__FRONT__/images/pindao-sc3.jpg"></div>
                        <div class="sctk-b-logo"><img src="__FRONT__/images/pindao-sc33.png"></div>
                        <div class="sctk-b-msg">新品夏娃之秀调整型聚拢文胸</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sctk-b-img"><img src="__FRONT__/images/pindao-sc4.jpg"></div>
                        <div class="sctk-b-logo"><img src="__FRONT__/images/pindao-sc44.jpg"></div>
                        <div class="sctk-b-msg">新品夏娃之秀调整型聚拢文胸</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sctk-b-img"><img src="__FRONT__/images/pindao-sc5.jpg"></div>
                        <div class="sctk-b-logo"><img src="__FRONT__/images/pindao-sc55.png"></div>
                        <div class="sctk-b-msg">新品夏娃之秀调整型聚拢文胸</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sctk-b-img"><img src="__FRONT__/images/pindao-sc6.jpg"></div>
                        <div class="sctk-b-logo"><img src="__FRONT__/images/pindao-sc66.png"></div>
                        <div class="sctk-b-msg">新品夏娃之秀调整型聚拢文胸</div>
                    </a>
                </li>
                
            </ul>
             <div class="sctk-b-ztsc">主题市场</div>
        </div>
    </div>
    <div class="ztsc">
        <ul>
            <li><a href="#"><img src="__FRONT__/images/pindao-ztsc1.jpg"></a></li>
            <li><a href="#"><img src="__FRONT__/images/pindao-ztsc2.jpg"></a></li>
            <li><a href="#"><img src="__FRONT__/images/pindao-ztsc3.jpg"></a></li>
            <li><a href="#"><img src="__FRONT__/images/pindao-ztsc4.jpg"></a></li>
            <li><a href="#"><img src="__FRONT__/images/pindao-ztsc5.png"></a></li>
            <li><a href="#"><img src="__FRONT__/images/pindao-ztsc6.jpg"></a></li>
        </ul>
    </div>
    <div class="tmth">
        <div class="sctk-t">
            <div class="sctk-t-left">天猫特惠 SALE</div>
            <div class="sctk-t-right">
                <ul>
                    <li><a href="#">更多内衣</a></li>
                </ul>
            </div>
        </div>
        <div class="tmth-t">
            <div class="tmth-tb">商品分类</div>
        </div>
        
        <div class="tmth-fenlei">
            <ul>
                <li>文胸
                    <div class="tmth-fenlei-b">
                        <div class="tmth-fenlei-b-img"><a href="#"><img src="__FRONT__/images/pindao-tmth1.jpg"></a></div>
                        <ul>
                            <li><a href="#">无钢圈</a></li>
                            <li><a href="#">运动</a></li>
                            <li><a href="#">性感</a></li>
                            <li><a href="#">少女</a></li>
                            <li><a href="#">加厚</a></li>
                            <li><a href="#">超薄杯</a></li>
                            <li><a href="#">大杯</a></li>
                            <li><a href="#">抹胸</a></li>
                        </ul>
                    </div>
                </li>
                <li>女士家居服
                    <div class="tmth-fenlei-b">
                        <div class="tmth-fenlei-b-img"><a href="#"><img src="__FRONT__/images/pindao-tmth2.jpg"></a></div>
                        <ul>
                            <li><a href="#">无钢圈</a></li>
                            <li><a href="#">运动</a></li>
                            <li><a href="#">性感</a></li>
                            <li><a href="#">少女</a></li>
                            <li><a href="#">加厚</a></li>
                            <li><a href="#">超薄杯</a></li>
                            <li><a href="#">大杯</a></li>
                            <li><a href="#">抹胸</a></li>
                        </ul>
                    </div>
                </li>
                <li>女士内裤
                    <div class="tmth-fenlei-b">
                        <div class="tmth-fenlei-b-img"><a href="#"><img src="__FRONT__/images/pindao-tmth3.png"></a></div>
                        <ul>
                            <li><a href="#">无钢圈</a></li>
                            <li><a href="#">运动</a></li>
                            <li><a href="#">性感</a></li>
                            <li><a href="#">少女</a></li>
                            <li><a href="#">加厚</a></li>
                            <li><a href="#">超薄杯</a></li>
                            <li><a href="#">大杯</a></li>
                            <li><a href="#">抹胸</a></li>
                        </ul>
                    </div>
                </li>
                <li>女士袜子
                    <div class="tmth-fenlei-b">
                        <div class="tmth-fenlei-b-img"><a href="#"><img src="__FRONT__/images/pindao-tmth4.jpg"></a></div>
                        <ul>
                            <li><a href="#">无钢圈</a></li>
                            <li><a href="#">运动</a></li>
                            <li><a href="#">性感</a></li>
                            <li><a href="#">少女</a></li>
                            <li><a href="#">加厚</a></li>
                            <li><a href="#">超薄杯</a></li>
                            <li><a href="#">大杯</a></li>
                            <li><a href="#">抹胸</a></li>
                        </ul>
                    </div>
                </li>
                <li>男士内裤
                    <div class="tmth-fenlei-b">
                        <div class="tmth-fenlei-b-img"><a href="#"><img src="__FRONT__/images/pindao-tmth5.jpg"></a></div>
                        <ul>
                            <li><a href="#">无钢圈</a></li>
                            <li><a href="#">运动</a></li>
                            <li><a href="#">性感</a></li>
                            <li><a href="#">少女</a></li>
                            <li><a href="#">加厚</a></li>
                            <li><a href="#">超薄杯</a></li>
                            <li><a href="#">大杯</a></li>
                            <li><a href="#">抹胸</a></li>
                        </ul>
                    </div>
                </li>
                <li>男士家居服
                    <div class="tmth-fenlei-b">
                        <div class="tmth-fenlei-b-img"><a href="#"><img src="__FRONT__/images/pindao-tmth6.jpg"></a></div>
                        <ul>
                            <li><a href="#">无钢圈</a></li>
                            <li><a href="#">运动</a></li>
                            <li><a href="#">性感</a></li>
                            <li><a href="#">少女</a></li>
                            <li><a href="#">加厚</a></li>
                            <li><a href="#">超薄杯</a></li>
                            <li><a href="#">大杯</a></li>
                            <li><a href="#">抹胸</a></li>
                        </ul>
                    </div>
                </li>
                <li>男士打底
                    <div class="tmth-fenlei-b">
                        <div class="tmth-fenlei-b-img"><a href="#"><img src="__FRONT__/images/pindao-tmth7.jpg"></a></div>
                        <ul>
                            <li><a href="#">无钢圈</a></li>
                            <li><a href="#">运动</a></li>
                            <li><a href="#">性感</a></li>
                            <li><a href="#">少女</a></li>
                            <li><a href="#">加厚</a></li>
                            <li><a href="#">超薄杯</a></li>
                            <li><a href="#">大杯</a></li>
                            <li><a href="#">抹胸</a></li>
                        </ul>
                    </div>
                </li>
                <li>男士袜子
                    <div class="tmth-fenlei-b">
                        <div class="tmth-fenlei-b-img"><a href="#"><img src="__FRONT__/images/pindao-tmth8.jpg"></a></div>
                        <ul>
                            <li><a href="#">无钢圈</a></li>
                            <li><a href="#">运动</a></li>
                            <li><a href="#">性感</a></li>
                            <li><a href="#">少女</a></li>
                            <li><a href="#">加厚</a></li>
                            <li><a href="#">超薄杯</a></li>
                            <li><a href="#">大杯</a></li>
                            <li><a href="#">抹胸</a></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>


      <div style="clear:both;"></div>
     <footer>
        <div class="section-footer">
            <ul>
                <li>
                    <div class="section-footer-l"><img src="__FRONT__/images/index-icon1.gif"></div>
                    <div class="section-footer-r">
                        <div class="section-footer-r-t">品质保障</div>
                        <div class="section-footer-r-f">品质护航 购物无忧</div>
                    </div>
                </li>
                <li>
                    <div class="section-footer-l"><img src="__FRONT__/images/index-icon2.gif"></div>
                    <div class="section-footer-r">
                        <div class="section-footer-r-t">七天无理由退货</div>
                        <div class="section-footer-r-f">为您提供售后无忧保障</div>
                    </div>
                </li>
                <li>
                    <div class="section-footer-l"><img src="__FRONT__/images/index-icon3.gif"></div>
                    <div class="section-footer-r">
                        <div class="section-footer-r-t">特色服务体验</div>
                        <div class="section-footer-r-f">为您呈现不一样的服务</div>
                    </div>
                </li>
                <li>
                    <div class="section-footer-l"><img src="__FRONT__/images/index-icon4.gif"></div>
                    <div class="section-footer-r">
                        <div class="section-footer-r-t">帮助中心</div>
                        <div class="section-footer-r-f">您的购物指南</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer-list">
            <ul>
                <li>
                    <ul>
                        <li>购物指南</li>
                        <li><a href="#">免费注册</a></li>
                        <li><a href="#">开通支付宝</a></li>
                        <li><a href="#">支付宝充值</a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>天猫保障</li>
                        <li><a href="#">发票保障</a></li>
                        <li><a href="#">售后规则</a></li>
                        <li><a href="#">缺货赔付</a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>支付方式</li>
                        <li><a href="#">快捷支付</a></li>
                        <li><a href="#">信用卡</a></li>
                        <li><a href="#">余额宝</a></li>
                        <li><a href="#">蚂蚁花呗</a></li>
                        <li><a href="#">货到付款</a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>商家服务</li>
                        <li><a href="#">天猫规则</a></li>
                        <li><a href="#">商家入驻</a></li>
                        <li><a href="#">商家中心</a></li>
                        <li><a href="#">天猫智库</a></li>
                        <li><a href="#">物流服务</a></li>
                        <li><a href="#">喵言喵语</a></li>
                        <li><a href="#">运营服务</a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>手机天猫</li>
                        <li><img src="__FRONT__/images/index-ewm.jpg"></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="footer-foo">
            <div class="footer-foo-logo"><img src="__FRONT__/images/index-mao.jpg"></div>
            <div class="footer-foo-f">
                <div class="footer-foo-t">
                    <span><a href="#">关于天猫</a></span>
                    <span><a href="#">帮助中心</a></span>
                    <span><a href="#">开放平台</a></span>
                    <span><a href="#">诚聘英才</a></span>
                    <span><a href="#">联系我们</a></span>
                    <span><a href="#">网站合作</a></span>
                    <span><a href="#">法律声明</a></span>
                    <span><a href="#">隐私权政策</a></span>
                    <span><a href="#">知识产权</a></span>
                    <span><a href="#">廉正举报</a></span>
                    <span><a href="#">规则意见征集</a></span>
                </div>
                <div class="footer-foo-c">
                    <span><a href="#">阿里巴巴集团</a></span>
                    <span>|</span>
                    <span><a href="#">淘宝网</a></span>
                    <span>|</span>
                    <span><a href="#">天猫</a></span>
                    <span>|</span>
                    <span><a href="#">聚划算</a></span>
                    <span>|</span>
                    <span><a href="#">全球速卖通</a></span>
                    <span>|</span>
                    <span><a href="#">阿里巴巴国际交易市场</a></span>
                    <span>|</span>
                    <span><a href="#">1688</a></span>
                    <span>|</span>
                    <span><a href="#">阿里妈妈</a></span>
                    <span>|</span>
                    <span><a href="#">飞猪</a></span>
                    <span>|</span>
                    <span><a href="#">阿里云计算</a></span>
                    <span>|</span>
                    <span><a href="#">AliOS</a></span>
                    <span>|</span>
                    <span><a href="#">阿里通信</a></span>
                    <span>|</span>
                    <span><a href="#">万网</a></span>
                    <span>|</span>
                    <span><a href="#">高德</a></span>
                    <span>|</span> 
                    <span><a href="#">UC</a></span>
                    <span>|</span>
                    <span><a href="#">友盟</a></span>
                    <span>|</span>
                    <span><a href="#">虾米</a></span>
                    <span>|</span>
                    <span><a href="#">阿里星球</a></span>
                    <span>|</span>
                    <span><a href="#">来往</a></span>
                    <span>|</span>
                    <span><a href="#">钉钉</a></span>
                    <span>|</span>
                    <span><a href="#">支付宝</a></span>
                </div>
                <div class="footer-foo-bq">
                    <ul>
                        <li>增值电信业务经营许可证： 浙B2-20110446</li>
                        <li>网络文化经营许可证：浙网文[2015]0295-065号</li>
                        <li>12318举报</li>
                        <li>互联网违法和不良信息举报电话：0571-81683755</li>
                        <li>blxxjb@alibaba-inc.com</li>
                        <li>互联网药品信息服务资质证书编号：浙-（经营性）-2017-0005</li>
                        <li><img src="__FRONT__/images/index-f1.jpg">浙公网安备 33010002000120号</li>
                        <li>（浙）网械平台备字[2018]第00002号</li>
                    </ul>
                </div>
                <div style="clear:both;"></div>
                <div class="footer-fff">
                    <div>© 2003-2018 TMALL.COM 版权所有</div>
                    <div>
                        <img src="__FRONT__/images/index-f2.jpg">
                        <img src="__FRONT__/images/index-f3.jpg">
                    </div>
                </div>
            </div>
        </div>
    </footer>






     <!-- 侧边栏 -->
    <div class="aside">
        <ul>
            <li><a href="#"><img src="__FRONT__/images/index-cb1.png"></a></li>
            <li><a href="#"><img src="__FRONT__/images/index-cb2.png"></a></li>
           <li><a href="#"><img src="__FRONT__/images/index-cb3.png"></a></li>
           <li><a href="#"><img src="__FRONT__/images/index-cb4.png"></a></li>
           <li><a href="#"><img src="__FRONT__/images/index-cb3.png"></a></li>
           <li><a href="#"><img src="__FRONT__/images/index-cb6.png"></a></li>
        </ul>
    </div>
</body>
</html>